
WebApplication2/nbproject/private/private\.properties

WebApplication2/build/web/inicio\.jsp

WebApplication2/build/web/inicioclinicas\.jsp

WebApplication2/build/web/inicioconsultorios\.jsp

WebApplication2/build/web/mantenimientoClinicas\.jsp

WebApplication2/nbproject/private/private\.xml

WebApplication2/build/web/WEB-INF/classes/action/ActionClinicas\.class
/WebApplication2/dist/